############################################################
#                                                          #
# Elite - The New Kind                                     #
#                                                          #
# Scanner Config file.                                     #
#                                                          #
############################################################

scanner.bmp     # Scanner bitmap filename.
248,78          # Scanner centre (NES x=124 * 2, y=(199-160)*2=78)
441,57          # Compass (slot center 446,62 - half of 10x10 sprite)
419,63,6	# Condition (slot center, NES x=210, y=192)
248,140		# Zoom text
