############################################################
#                                                          #
# Elite - The New Kind                                     #
#                                                          #
# Scanner Config file.                                     #
#                                                          #
############################################################

scanner.bmp     # Scanner bitmap filename.
256,80          # Scanner centre X,Y (NES col 16, row 25 at 2x)
408,52          # Compass centre X,Y (NES sprite position at 2x)
412,52,6	# Condition centre X,Y, radius (NES sprite 10 at 2x)
230,140		# Zoom text X, Y (below scanner)
