############################################################
#                                                          #
# Elite - The New Kind                                     #
#                                                          #
# Scanner Config file.                                     #
#                                                          #
############################################################

scanner.bmp     # Scanner bitmap filename.
248,78          # Scanner centre (NES x=124 * 2, y=(199-160)*2=78)
440,52          # Compass (NES x=220 * 2, y=(186-160)*2=52)
412,52,6	# Condition (NES x=206 * 2, y=(186-160)*2=52)
248,140		# Zoom text
