############################################################
#                                                          #
# Elite - The New Kind                                     #
#                                                          #
# Scanner Config file.                                     #
#                                                          #
############################################################

scanner.bmp     # Scanner bitmap filename.
253,51          # Scanner centre X,Y
380,20          # Compass centre X,Y
140,45,12	# Condition centre X,Y, radius
230,105		# Zoom text X, Y
